.donut {
  position: relative;
  width: 200px;
  height: 200px;
}

.donut-default {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.donut-white {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.donut-text {
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  background-image: url(/Assets/mockup/bg.jpg);
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  z-index: 3;
}

.donut-text span {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.donut-text .number {
  font-size: 50px !important;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

.instalment3 .donut-case {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b1139f;
  position: absolute;
  top: 0;
  left: 0;
  background-clip: border-box;
  overflow: hidden;
}

.instalment3 .donut-case::before {
  content: "";
  clip: rect(0 100px 200px 0);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(180deg);
  background: #e17bc1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.instalment3 .donut-case::after {
  content: "";
  clip: rect(0 100px 200px 0);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(270deg);
  background: #e0b5d3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.instalment3 .donut-line::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: -25px;
  left: 50%;
  background: #fff;
  z-index: 2;
}

.instalment3 .donut-line::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -25px;
  background: #fff;
  border-bottom: 1px solid #fff;
  z-index: 2;
}
#donut-line {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: conic-gradient(#00ffff 0% 100%);
  transition: background 1s ease;
}
