#timer {
  font-family: "Outfit", sans-serif;
  padding: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;

  background-image: url("/Assets/mockup/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 10px solid rgb(191, 124, 203);
}

.pText {
  color: white;
  font-size: 15px;
}

.number {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.barTimer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  background: conic-gradient(#d20094 0% 50%, #00ffff 50% 100%);
  z-index: -1;
}
